.update{
    color: blueviolet;
    background-color: bisque;
    font-size: larger;
    border-width: 5px;
    border-style: solid;
    border-color: red;
    align-items: center;
    text-align: center;
}
#Change5{
    margin: 50px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 10Npx gray;
}